* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-fundo {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-conteudo {
    position: relative;
    display: flex;
    background-color: black;
    color: white;
    padding: 70px;
    border-radius: 10px;
    width: 530px;
    position: relative;
    box-shadow: 0 0 20px var(--roxo-claro);
    box-sizing: border-box;
    transition: all 0.4s;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10px;
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
}


.descricao a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.modal-conteudo h3 {
    position: absolute;
    left: 150px;
    top: 20px;
    
}

.modal-conteudo img {
    border-radius: 5px;
    margin-bottom: 15px;
    width: auto;
    height: 200px;
}

.modal-conteudo:hover img{
    transform: scale(1.05);
    cursor: pointer;
}

.modal-conteudo a {
    position: absolute;
    color: white;
    right: 10px;
    text-decoration: none;
    transition: all 0.4s;

}

.modal-conteudo a:hover {
    color: var(--roxo-claro);
    text-decoration: underline;
    transform: scale(1.05);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.close-btn:hover {
    color: var(--roxo-claro);
    transform: scale(1.05);
}

.poster-titulo h3 { 
    position: absolute;

}