:root {
  --roxo-escuro: #3E2B3E;
  --roxo-claro: #913593;
  --roxo-escuro2: #332C33;
  --roxo-claro2: #a13ea2;
  --preto: black;
  --branco: white;
  
  
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #332C33;
  color: var(--branco);
}

.titulo {
  color: var(--branco) ;
  font-weight: 200;
  font-size: 50px;
}

.logo {
  margin-top: 5px;
  margin-left: 500px;
  width: 500px;
  height: auto;
  margin-bottom: 30px;
}

.background {
  background-image: cover;
  background-repeat: repeat-y;

}

