:root {
  --roxo-escuro: #3E2B3E;
  --roxo-claro: #913593;
  --roxo-escuro2: #332C33;
  --roxo-claro2: #a13ea2;
  --preto: black;
  --branco: white;
  
  
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #332C33;
  color: var(--branco);
}

.titulo {
  color: var(--roxo-escuro) ;
  font-weight: 200;
  font-size: 50px;
}

.background {
  background-image: cover;
  background-repeat: repeat-y;

}

